---
- name: Deploy file 
  hosts: "{{ deployment_hosts }}"
  gather_facts: false

  vars_files:
    - vars.yml

  tasks:
    - name: Check if file already exists on Windows server
      ansible.windows.win_stat:
        path: "{{ dest_file }}"
      register: file_status

    - name: Check if file already exists on Windows server
      ansible.windows.win_stat:
        path: "{{ src_file }}"
      register: file_status

    - name: Show file existence status (for visibility)
      debug:
        msg: "File already exists on destination"
      when: file_status.stat.exists | default(false)

    - name: Copy file only if it does NOT exist
      ansible.windows.win_copy:
        src: "{{ src_file }}"
        dest: "{{ dest_file }}"
        remote_src: yes
      when: file_status.stat.exists



